* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  flex: 1 1 auto; 
  max-width: 1920px;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
}

.header {
  background-color: #EEEFF1;
  flex: 1 1 auto;
  max-height: 750px;
} 

.header__top {
  max-height: 120px;
}

.header__top-inner {
  max-height: 125px;
  display: flex;
  justify-content: space-around;
}
.logo {
  max-width: 60px;
  margin-top: 57px;
  padding-right: 250px
}

.menu__list {
  margin-top: 79px;
}
.menu__list-item {
  list-style: none;
  display: inline; 
  font-weight: 600; 
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
}
.menu__link {
  text-decoration: none;
  color: #000;
  padding: 15px;
}
.menu__link--ul {
  color: #34547A;
}

.header__row {
  display: flex;
  flex-direction: row-reverse;  
  justify-content: space-around;
  margin-left: 120px;
  min-height: 580px; 
}

.header__body {
  max-width: 540px;
  max-height: 430px;
  margin-top: 25px;
}

.header__title {
  font-size: 35px;
  margin-top: 160px;
  font-weight: 600
}

.header__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 30px;
  max-height: 550px;
  font-weight: normal;
}

.header__button-list {
  max-height: 225px;
  margin-top: 50px
}

.header__btn {
  background: #34547A;
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  text-align: center; 
  max-height: 65px;
  max-width: 225px;
  padding: 20px 41px 25px 41px;
  border: none;
  margin-bottom: 100px;
}

.header__image {
  margin-top: 200px;
  max-height: 225px;
}

.about__me {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: #E5E5E5;
  justify-content: center;
  align-items: center;
}

.titile__about-me {
  max-height: 30px;
  line-height: 37px;
  font-size: 32px;
  text-align: center;
  color: #000000;
}


.info__about-me  {
  max-width: 540px;
  max-height: 67px;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.text_-about-me {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.project__items {
  flex: 1 1 auto;
  min-height: 250px;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color:#34547A;
  flex-wrap: wrap;
}

.numbers__item {
  margin-left: 50px;
  max-width:141px;
  max-height: 50px;
}

.skills__container {
  height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: nowrap;
}

.skills__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
}

.skills__list {
  min-height: 450px;
  min-width: 575px;
  margin-top: 100px;
  margin-left: 60px;
}

.skills__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  max-height: 15px;
  padding-top: 35px;
  margin-bottom: 15px;
}


.skills__image {
  padding-top: 100px;
  max-width: 575px;
  max-height: 450px;
}

.skills__image-img {
  max-width: 95%;
  max-height: 95%;
  margin: 0 auto;
}

.skills__rectangle {
 width: 355px;
 height: 4px;
 background: #C4C4C4;
}

.skills__rectangle-2 {
  background: #34547A;
  height: 4px;
  float: left;
}

.work__container {
  min-height: 1000px;
  background-color: #EEEFF1;
  align-items: center;
  flex-direction: column;
}

.work__info {
  width: 550px;
  height: 170px;
  margin: 0 auto;
  padding-top: 70px;
}

.work__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.work__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 50px;
}

.work__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1110px;
  min-width: 300px;
  min-height: 600px;
  margin-top: 60px;
  cursor: pointer;
  background-image: url('img/images/Rectangle 5.svg');
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.work__vector {
 max-width: 75px;
 max-height: 75px;
 z-index: 1;
 margin-top: 24px;
 margin-right: 7px;
}

.galerry__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.galerry__item-img {
  width: 100%;
  min-width: 10%;
  height: auto;
  float: left;
}

.galerry__item-1 {
  max-width: 25%;
  max-height:auto;
  opacity: 1.0;
  position: relative;   
  line-height: 0;
  margin: 0 0 -5px 0;
  display: block;
  cursor: pointer;
   float: left;
}

.galerry__item-2 {
  max-width: 25%;
  max-height:auto; 
  opacity: 1.0;
  position: relative;    
  line-height: 0;
  margin: 0 0 -5px 0;
  display: responsive;
  cursor: pointer;
  float: left;
} 

.galerry__item-1:hover:after, .galerry__item-2:hover:after {
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  display: flex;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
  background-image:  linear-gradient(to left,  #34547A, #34547A);
  opacity: 0.8;
  content: url('img/images/view.svg');
}

.form__container {
  display: flex;
  min-height:760px;
  flex-direction: column;
  align-items: center;
  background-color: #EEEFF1;
}

.form__info {
  width: 540px;
  height: 147px;
  padding-top: 120px;
}

.form__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding-top: 30px;
}

.form__filling {
  max-width: 600px;
  margin-top: 65px;
  margin-bottom: 60px;
}

.form__name {
  min-width: 255px;
  min-height: 50px;
  color: #5F5D5D;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  border: none;
  padding: 8px

}

.form__email {
  min-width: 255px;
  min-height: 50px;
  margin-left: 26px;
  color: #5F5D5D;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  border: none;
  padding: 8px;
}

.form__textarea {
  min-width: 563px;
  max-height: 175px;
  margin-top: 20px;
  color: #5F5D5D;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  resize: none;
  border: none;
  padding: 17px 0px 0px 8px ;
}

.footer {
  background: #34547A;
  min-height: 151px;  
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-around; 
}

.footer__row {
  margin-top: 65px;
}

.footer__title {
  color: #fff;
  line-height: 25px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.footer_-text {
  color: #fff;
  line-height: 20px;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  width: 193px;
  height: 12px;
  padding-top: 10px;
}

.footer__info {
  width: 193px;
  height: 52px;
  margin-bottom: 50px;
}

.footer__list {
  margin: 56px 0px 55px 0px;
  width: 175px;
  height: 40px; 
  padding: 8.6px;
}

.about-me {
  background: white; 
}

.title__about-me {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  margin-top: 120px;
}

.info__about-me {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 80px;
  color: #727272;
}

@media screen and (min-width:320px) and (max-width:575px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: serif;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    flex: 1 1 auto;
  }

  .header {
    background-color: #EEEFF1;
    flex: 1 1 auto;
    min-height: 780px;
  } 

  .header__top {
    max-height: 90px;
  }
  
  .header__top-inner {
    max-height: 125px;
    margin:0
  }

  .logo {
  min-height: 100px;
  margin: 0 auto;
  padding-right: 250px;
  }

  .logo__img {
    width: 70px;
    height: 50px;
    margin-top: 22px;
  }

  .header__row {
    display: flex;
    flex-direction: column-reverse; 
    margin:0 auto;
    align-items: center;
  }
    
  .header__body {
   min-width: 298px;
   min-height: 280px;
   margin: 0;
   text-align: center;
  }

  .header__image {
    margin-top: 90px;
  }

  .header__img {
    min-width: 270px;
    max-height: 195px;  
  }
  
  .header__title {
    font-size: 32px;
    margin-top: 50px;
    font-weight: 600;
    min-width: 290px;
    min-height: 41px;;
  }
  
  .header__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #727272;
    margin-top: 44px;
    max-height: 120px;
    max-width: 290px;
    font-weight: normal;
    text-align: center;
  }
  
  .header__button-list {
    max-width: 225px;
    max-height: 65px;
    padding-left: 35px;
  }

  .menu__list-item {
    display: none;
  }

  .menu {
    display: none;
  }

  .project {
    max-height:477px;
  }

  .project__items {
    max-width: auto;
    min-height: 477px;
    display: flex; 
    flex-direction: row;
    background-color:#34547A;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .numbers__item {
    max-width: 141px;
    max-height: 50px;
    margin: 0;
  }

  .skills__container {
    min-height: 807px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    margin: 0;
  }

  .skills__image-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .skills__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }

  .skills__list {
    min-height: 257px;
    min-width: 300px;
    margin-top: 98px;
    margin-left: 0;
  }
  
  .skills__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    max-height: 15px;
  }

  .skills__rectangle {
   width: 290px;
   height: 4px;
   background: #C4C4C4;
  }
  
  .skills__rectangle-2 {
    background: #34547A;
    height: 4px;
    float: left;
  }

  .work__image {
      min-height: 185px;
  }

  .work__container {
    min-height: 600px;
    background-color: #EEEFF1;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
  }
  
  .work__info {
    max-width: 320px;
    max-height: 170px;
    margin:0;
    margin-top: 50px;
  }

  .work__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
  }
  .work__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 50px;
  }

  .work__vector {
    max-width: 75px;
    max-height: 75px;
    z-index: 1;
    margin: 0;
  }

  .galerry__item-img {
    min-width: 100%;
    width: 100%;
    min-width: 10%;
    height: auto;
    float: left;
  }
  
  .galerry__item-1 {
    max-width: 50%;
    max-height:auto;
    opacity: 1.0;
    position: relative;   
    line-height: 0;
    margin: 0 0 -5px 0;
    display: block;
    cursor: pointer;
     float: left;
  }
  
  .galerry__item-2 {
    max-width: 50%;
    max-height:auto; 
    opacity: 1.0;
    position: relative;    
    line-height: 0;
    margin: 0 0 -5px 0;
    display: responsive;
    cursor: pointer;
    float: left;
  }
  
  .form__container {
    display: flex;
    min-height: 860px;
    flex-direction: column;
    align-items: center;
    background-color: #EEEFF1;
    flex: 1 1 auto;
  }

  .form__info {
    max-width: 320px;
    max-height: 10px;
    padding:0;
    margin-top: 91px;
  }

  .form__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
  }
  .form__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 95%;
    text-align: center;
    padding-top: 30px;
  }

  .form__filling {
    max-width: 300px;
    max-height: 380px;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
  }
  
  .form__name {
    min-width: 290px;
    max-height: 50px;
    color: #5F5D5D;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    border: none;
    margin-bottom: 21px;
    padding: 0;
  }

  .form__name[type='text'] {
    padding: 0px 0px 0px 10px;
  }
  
  .form__email {
    min-width: 290px;
    max-height: 50px;
    color: #5F5D5D;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    border: none;
    padding: 0;
    margin-left: 0;
  }

  .form__email[type='text'] {
    padding: 0px 0px 0px 10px;
  }
  
  .form__textarea {
    min-width: 290px;
    min-height: 175px;
    color: #5F5D5D;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    resize: none;
    border: none;
    padding: 0px 0px 0px 10px ;
    margin-bottom: 80px;
  }
  
  .footer {
    background: #34547A;
    min-height: 210px;  
    width: 100%;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__row {
    margin:0;
    text-align: center;
  }
  
  .footer__title {
    color: #fff;
    line-height: 25px;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
  }
  
  .footer_-text {
    color: #fff;
    line-height: 21px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    min-width: 193px;
    min-height: 12px;
    padding-top: 10px;
  }
  
  .footer__info {
    width: 190px;
    height: 50px;
    margin: 50px 20px 32px 0px;
  }
  
  .footer__list {
    margin:0;
    width: 175px;
    height: 40px; 
    padding: 8.6px;
    text-align: center;
    margin-right: 20px;
  }

}

@media all and (max-width: 1044px) {
 
  .menu {
    display: none;
  }

  .header__button-list {
    max-height: 225px;
    margin-top: 50px;
  }

  .header__row {
    display: flex;
    flex-direction: column-reverse; 
    margin:0 auto;
    align-items: center;
  }

  .header__image {
    margin-top: 50px;
  }

  .header__body {
    min-width: 298px;
    min-height: 280px;
    margin: 0;
    text-align: center;
  }

  .header__title {
    margin-top: 40px;
  }

  .header__button-list {
    margin-left: 0 auto;
  }
}
  
   

 

    
  

